body{
    margin: 0;
    padding: 0;
    background: url("../images/bg_login.jpg");
    background-size: auto;
    background-position: center;
    font-family: Roboto;
}
.loginbox{
    width: 320px;
    height: 420px;
    background: #FFFFFF;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 7px;
}
.avatar{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox h1{
    margin: 0;
    padding: 0 0 29px;
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
}
.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.loginbox input[type="password"]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #295F4E;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #6DB193;
    color: #FFFFFF;
}
.loginbox a{
    text-decoration: none;
    font-size: 14px;
    color: dodgerblue;
}