body {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
}

.card_home {
    padding: 10px;
    margin-top: 50px;
    display: block;
}

#banner {
    background-color: #efeffe;
    background: url("../images/banner.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 125px;
    text-align: center;
    color: #FFFFFF;
}

#banner h1 {
    font-family: Roboto;
    font-size: 50px;
    color: darkolivegreen;
    text-transform: uppercase;
    font-weight: normal;
}

#banner h2 {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 30px;
    color: forestgreen;
    font-weight: normal;
    margin-bottom: 30px;
}

#banner .btn-link {
    margin-top: 50px;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

#banner .btn-link:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #000000;
}

.body_login {
    margin: 0;
    padding: 0;
    background: url("../images/banner.jpg");
    background-size: auto;
    background-position: center;
    font-family: Roboto;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: #FFFFFF;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 7px;
}

.avatar {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1 {
    margin: 0;
    padding: 0 0 29px;
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #295F4E;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #6DB193;
    color: #FFFFFF;
}

.loginbox a {
    text-decoration: none;
    font-size: 14px;
    color: dodgerblue;
}

.body_regis {
    background: url("../images/banner.jpg");
    background-size: auto;
    background-position: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
    font-family: Roboto;
    font-weight: 300;
}

.regis-box {
    position: relative;
    margin: 5% auto;
    width: 800px;
    height: 400px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.regis-left-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 400px;
}

.regis-left-box h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.regis-left-box input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.regis-left-box input[type="submit"] {
    border: none;
    outline: none;
    width: 100%;
    height: 32px;
    background: #295F4E;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 20px;
}

.regis-left-box input[type="submit"]:hover {
    cursor: pointer;
    background: #6DB193;
    color: #FFFFFF;
    transition: 0.2s ease;
}

.regis-right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 400px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.or {
    position: absolute;
    top: 180px;
    left: 380px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}

.regis-right-box .signinwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button.social {
    margin-bottom: 20px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook {
    background: #32508e;
}

.twitter {
    background: #55acee;
}

.google-plus {
    background: #dd4b39;
}
